.col {
  width: 100%;
  float: left;

    &-xs-11 {
      width: 100%;
    }


  @mixin atLarge {

    padding-right: 20px;

    &--video {
      padding: 0;
      margin: 0;
    }

    &__8--wide{
      min-width: 327px;
    }

    &--lg-1 {
      width: 8.33%;
    }

    &--lg-2 {
      width: 16.66%;
    }

    &--lg-3 {
      width: 25%;
    }

    &--lg-5 {
      width: 37.5%;
    }

    &--lg-4 {
      width: 33%;
    }

    &--lg-5 {
      width: 41.666%;
    }

    &--lg-6 {
      width: 50%;
    }

    &--lg-7 {
      width: 58.3%;
    }

    &--lg-8 {
      width: 66.6%;
    }

    &--lg-9 {
      width: 75%;
    }

    &--lg-10 {
      width: 83.33%;
    }

    &--lg-11 {
      width: 91.66%;
    }
  }
}
