.filler {
    width: 100%;
    min-height: 94vh;
    background-color: $lightMatte;
    margin: 0 auto;
    color: $darkTeal;

    &__content {
      position: relative;
      top: 8rem;

      h1 {
        margin-top: 0;
      }

      img {
        border: 1px solid black;
      }
    }
}
