.item-container {
  /* background-color: green;
  border: 1px solid black; */
  color: $darkTeal;
  margin: 15px 0;
  position: relative;
  min-height: 4.6rem;


  @mixin atMedium {
    margin: 20px 0;
  }

  @mixin atLarge {
    margin: .5rem 0;
  }

  &--inline {
    img, p {
    display: inline;
    }

    @mixin atSmall {
      font-size: .9rem;
    }

    img {
      border: 1px solid black;
      width: 60px;
      height: 60px;

      @mixin atMedium {
        width: 50px;
        height: 50px;
      }
    }

    p {
      position: absolute;
      margin-left: 5px;


    }
    p:first-of-type {
      margin-top: 0;
      margin-bottom: 0;

    }

    p:last-of-type {
      margin-top: 2rem;
      margin-bottom: 0;

      @mixin atSmall {
        margin-top: 2.6rem;
      }

      @mixin atMedium {
        margin-top: 2rem;
      }
    }
    button {
      position: absolute;
      top: 10px;
      right: 0;
      transform: translate(-1rem, 1.5rem);
      width: 85px;
      height: 25px;
      font-size: .8rem;

      @mixin atMedium {
        top: 10px;
        right: 0;
        transform: translate(-1.8rem, 1.5rem);
        width: 85px;
        height: 45px;
        font-size: .9rem;
        width: 60px;
        height: 25px;
        padding: 0;
      }

      @mixin atLarge {
        transform: translate(-1.2rem, -1rem));
      }

      @mixin atXLarge {
        transform: translate(-4.5rem, -.7rem);
        width: 85px;
        height: 50px;
      }

    }
  }

  &--next-break {
    font-size: .7rem;
    margin: 0 50px 0 0;
    padding-top: 10px;

    img {
      height: 40px;
      width: 40px;

      @mixin atMedium {

        height: 50px;
        width: 50px;
      }
    }
    p {
      margin-top: 0 !important;
      top: 10px;
    }
  }
}
