.item-container {
  /* background-color: green;
  border: 1px solid black; */
  color: $darkTeal;
  margin-top: 10px;
  padding-top: 10px;
  position: relative;
  font-size: 1rem;

  &--inline {
    img, p {
    display: inline;
    }


    img {
      border: 1px solid black;
      width: 60px;
      height: 60px;
    }

    p {
      position: absolute;
      margin-left: 5px;
    }
    p:first-of-type {
      margin-top: 0;
      margin-bottom: 0;
    }

    p:last-of-type {
      margin-top: 32px;
      margin-bottom: 0;
    }
    button {
      position: absolute;
      top: 10px;
      right: 0;
      transform: translateX(-5rem);
      width: 85px;
      height: 45px;

    }
  }

  &--next-break {
    font-size: .7rem;
    img {
      height: 50px;
      width: 50px;
    }
    p {
      margin-top: 0 !important;
      top: 10px;
    }
  }
}
