.logo {
  font-family: 'Ranga', cursive;
  font-size: 2rem;
  color: $mainTeal;
  text-shadow: 4px 3px 0px $hotPink, 5px 3px 0px black;

  h1 {
    margin: 0;
  }

  &--border {
    border-right: 2px solid $darkPink;
    text-align: center;
    padding-top: 10px;
  }

  &--name {
    text-shadow: 1px 2px 0px $hotPink, 2px 2px 0px black;
    white-space: nowrap;
    padding-top: 10px;
  }
}
