.next-break {
  background-color: $lightMatte;
  min-height: 8vh;
  padding: 0 0 5px 5px;
  color: $darkTeal;
  position: relative;
  /* text-align: center; */


  &--text {
    /* background-color: white;
    border: 1px solid black; */
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 5px;

    @mixin atMedium {
      top: 10px;
      left: 15px;
    }
    @mixin atLarge {

      &--pull-right {
        top: 10px;
        left: 55px;
      }

    }
  }
}
