.next-break {
  background-color: $lightMatte;
  min-height: 10vh;
  padding: 0 0 5px 5px;
  color: $darkTeal;


  &--text {
    /* background-color: white;
    border: 1px solid black; */
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 5px;

    @mixin atMedium {
      top: 10px;
      left: 20px;
    }
  }
}
