.primary-nav {
  height: 7vh;
  font-size: 0.8rem;

  @mixin atSmall {
    display: none;
  }

  @mixin atMedium {
    font-size: 1.8rem;
  }

  @mixin atLarge {
    font-size: 1.2rem;
  }

  ul {
    margin: 0;
    text-align: center;
    width:100%;

    @mixin atLarge {
      padding: 35px 0 0 0;
    }
  }


  li {
    display: inline;

    @mixin atLarge {
      padding-left: 4.5%;
    }
  }



  a {
    text-decoration: none;
    color: $mainTeal;
    display: inline-block;
    padding: 5px;

    @mixin atMedium {
      padding: 8px;
    }
  }
}
