.primary-nav {
  display: none;
  position: relative;
  font-size: 1rem;
  top: 10px;
  left: 0;
  height: 33vh;



  .expand {
    display: block;
  }


  @mixin atMedium {
    width: 100%;
    display: none;
    font-size: 1.2rem;
    top: 0;
    height: 43vh;
  }

  @mixin atLarge {
    display: block !important;
    font-size: 1rem;
    height: 5vh;
    top: 1.3rem;
    left: 0;
  }

  @mixin atXLarge {
    font-size: 1.2rem;
    height: 7vh;
    display: block !important;
    top: 1rem;
    left: 0;
    padding: 1rem;

  }

  ul {
    margin: 0;
    text-align: center;
    width: 100%;
    padding: 0;


    @mixin atLarge {
      padding: 0;
    }
  }


  li {
    display: block;
    border-bottom: 1px solid $hotPink;

    @mixin atLarge {
      display: inline;
      padding-left: 2%;
      border-bottom: none;
    }

    @mixin atXLarge {
      padding-left: 5%;
    }
  }

  li:last-child {
    border-bottom: none;
  }

  a {
    text-decoration: none;
    color: $mainTeal;
    display: inline-block;
    padding: 5px;

    @mixin atMedium {
      padding: 8px;
    }
  }

  a:hover {
    color: $hotPink;
  }
}
