.primary-nav {
  display: none;
  position: relative;

  @mixin atLarge {
    font-size: 1rem;
    height: 5vh;
    display: block;
    top: 1rem;
  }

  @mixin atXLarge {
    font-size: 1.2rem;
    height: 7vh;
    display: block;
    top: 1rem;
    padding: 16px;
  }

  ul {
    margin: 0;
    text-align: center;
    width: 100%;

    @mixin atLarge {
      padding: 0;
    }
  }


  li {
    display: inline;

    @mixin atLarge {
      padding-left: 2%;
    }
  }

  a {
    text-decoration: none;
    color: $mainTeal;
    display: inline-block;
    padding: 5px;

    @mixin atMedium {
      padding: 8px;
    }
  }
}
