.tab {
  float: left;
  min-width: 47px;
  position: absolute;
  background-color: $mainMatte;
  color: $mainTeal;
  top: 0;
  transform: translate(9rem,-.7rem);
  padding: 5px;
  border-radius: 5px;
  text-shadow: 1px 1px 0px $hotPink, 2px 2px 0px black;
  text-align: center;
  font-size: .8rem;

  @mixin atMedium {
    min-width: 67px;
    font-size: 1rem;
    top: 0;
    left: 3px;
    transform: translateY(-1rem);
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}
