.video-feed {
  width: 100%;
  height: 80vh;
  background-color: $lightMatte;

  &__main-container {
    position: relative;
    top: 6.2rem;

    @mixin atSmall {
      top: 4rem;
    }
  }

  &__video-container {
    iframe {
      width: 100%;
      height: 67.5vh;

      @mixin atSmall{
        height: 170px;
      }
    }
  }

  &__chat-container {
    iframe {
      width: 100%;
      height: 67.5vh;

      @mixin atSmall{
        height: 210px;
      }
    }
  }

}
