.video-feed {
  width: 100%;
  min-height: 81vh;
  background-color: $lightMatte;
  padding-bottom: 2rem;

  &__main-container {
    position: relative;
    top: 2.5rem;


    @mixin atMedium {
      top: 6.2rem;
      min-height: 90vh;
    }

    @mixin atLarge {
      top: 5.5rem;
      min-height: 90vh;
    }

    @mixin atXLarge {
      top: 7.2rem;
    }
  }



    @mixin atLarge {
      height: 70vh;
    }

  &__video-container {
    iframe {
      width: 100%;
      min-height: 33.75vh;

      @mixin atMedium {
        height: 40vh;
      }

      @mixin atLarge {
        width: 100%;
        height: 67vh;
      }

      @mixin atXLarge {
        width: 100%;
        height: 67vh;
      }
    }
  }

  &__chat-container {
    iframe {
      width: 100%;
      min-height: 39vh;


      @mixin atLarge{
        /* width: 50%; */
        height: 67vh;
      }
    }
  }

}
