.video-feed {
  width: 100%;
  min-height: 80vh;
  background-color: $lightMatte;

  &__main-container {
    position: relative;

    top: 2.5rem;
    @mixin atMedium {
      top: 6.2rem;
    }
  }

  &__video-container {
    iframe {
      width: 100%;
      min-height: 33.75vh;
      @mixin atMedium{
        height: 67.5vh;
      }
    }
  }

  &__chat-container {
    iframe {
      width: 100%;
      min-height: 39vh;

      @mixin atMedium{
        height: 67.5vh;
      }
    }
  }

}
