.wrapper {
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;


  &--section-border {
    border-top: 1px double $hotPink;
  }


  &--pull-logo-left {
    transform: translateX(-5.5rem);
  }

  @mixin atMedium {
    padding-left: 85px;
    padding-right: 85px;
  }

  @mixin atLarge {

    &--large {
      padding-left: 15px;
      padding-right: 15px;
    }

  }
}
