.wrapper {
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;


  &--section-border {
    border-top: 1px double $hotPink;
  }


  &--pull-logo-left {
    transform: translateX(0);

    @mixin atLarge {
      transform: translateX(-5.5rem);
    }
  }

  @mixin atMedium {
    padding-left: 25px;
    padding-right: 25px;
  }

  @mixin atLarge {
    padding-left: 75px;
    padding-right: 75px;
    /* &--large {
      padding-left: 85px;
      padding-right: 85px;
    } */
  }

  @mixin atXLarge {
    padding-left: 85px;
    padding-right: 85px;
  }
}
