.wrapper {
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;


  &--section-border {
    border-top: solid 2px $hotPink;
  }

  &--section-border-bottom {
    border-bottom: solid 2px $hotPink;
  }

  &--pull-logo-left {
    transform: translateX(-3.1rem);
  }

  @mixin atMedium {
    padding-left: 50px;
    padding-right: 50px;
  }

  @mixin atLarge {

    &--large {
      padding-left: 15px;
      padding-right: 15px;
    }

  }
}
